{% extends 'base.html.twig' %}

{% block body %}
<div class="mb-4">
    <span class="badge bg-info">{{ game.year|date("Y") }}</span>
    <span class="badge {% if game_users|length == 0 %}bg-warning{% else %}bg-secondary{% endif %}">{% if game_users %}{{ game_users|length }} {% if game_users|length > 1 %}joueurs{% else %}joueur{% endif %}{% else %}0 joueur{% endif %}</span>
    <span class="badge {% if game.isOpenBets %}bg-success{% else %}bg-danger{% endif %}">{% if game.isOpenBets %}Paris ouverts{% else %}Paris fermés{% endif %}</span>
</div>

{% if bets and game_users %}
    {% for user in game_users %}
        <div class="card mb-3">
            <div class="card-body kikekane-card-title">
                <h5 class="card-title mb-0"><a href="{{ path('users_list') }}#user-{{ user.id }}">{{ user.login }}</a></h5>
            </div>
            {% if user.id in bets|keys %}
                <ul class="list-group list-group-flush kikekane-card-bets">
                {% for public_figure_id in bets[user.id] %}
                    {% if public_figure_id in public_figures|keys %}
                        <a class="list-group-item" href="{{ path('public_figures_list') }}#public-figure-{{ public_figure_id }}">{{ public_figures[public_figure_id].name }}</a>
                    {% endif %}
                {% endfor %}
                </ul>
            {% else %}
                <div class="card-body pt-0 text-warning">
                    Pas de paris enregistrés pour ce joueur.
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% else %}
    <p class="text-danger">Pas de paris.</p>
{% endif %}
{% endblock %}